<div class="form-wrapper">
    <div>
        <div class="confirm-delete-main">Are you sure, you want to delete this?</div>
        <div class="form-bottom">
            <button class="form-button ok-button" type="button">ok</button>
            <button class="form-button cancel-button" type="button">cancel</button>
        </div>
    </div>
</div>
