<div class="mobile-landing-actions">
    <% if (userId) { %>

        <span class="show-user-name user-name">hello, <%= userName %> </span>
        <input class="go-to-projects mobile-form-button" type="submit" value="my projects">
        <input class="sign-out-button mobile-form-button" type="submit" value="sign out">

    <% } else { %>
         <input class="login-btn mobile-form-button" type="submit" value="sign in">
    <% } %>

</div>
