<div class="form-wrapper">
    <div class="main-form">

        <div class="form-title">
            <div>Account Login</div>
        </div>

        <div class="tab-container">

            <label class="form-label">Email:</label>
            <input class="form-input-text form-control" maxlength="50" name="email" placeholder="Email"
                   type="email">
            <div class="form-error email-error"></div>

            <label class="form-label">Password:</label>
            <input class="form-input-text form-control" maxlength="50" name="password" placeholder="Password"
                   type="password">
            <div class="form-error password-error"></div>
        </div>

        <div class="login-form-bottom">
            <input class="form-button ok-button" value="ok">
            <input class="form-button cancel-button" id="exit-button" value="cancel">
        </div>

    </div>
</div>
