
<div class="mobile-form-title">
    <img class="mobile-logo" src="images/plan-view-logo-1.svg">
    <span>Sign In with Account</span>
</div>

<div class="mobile-tab-container">
    <input class="mobile-form-input-text mobile-form-control" maxlength="50" name="email" placeholder="Email"
       type="email">

    <input class="mobile-form-input-text mobile-form-control" maxlength="50" name="password" placeholder="Password"
       type="password">
    <div class="mobile-form-error email-error"></div>
    <div class="mobile-form-error password-error"></div>
</div>

<div class="mobile-login-form-bottom">
    <input class="mobile-form-button ok-button" type="submit" value="ok">
    <input class="mobile-form-button cancel-button" id="exit-button" type="submit" value="cancel">
</div>

