<div class="menu">
    <a class="back-to-landing-view" >
        <img class="logo" src="../../../images/plan-view-logo.svg" alt="logo"></img>
    </a>
    <% if (page !== 'projects') { %>
    <a class="go-to-projects main-menu-button">my projects</a>
    <% } %>
    <div class="menu-right">
        <p class="show-user-name user-name">hello, <%= user.firstname %> <%= user.lastname %> </p>
        <a class="sign-out-button main-menu-button">Sign Out</a>
    </div>
</div>
