<div class="menu">
    <a class="back-to-landing-view" >
        <img class="logo" src="../../../images/plan-view-logo.svg" alt="logo"></img>
    </a>
    <% if (page !== 'projects') { %>
    <a class="go-to-projects main-menu-button">my projects</a>
    <% } %>
    <div class="menu-right">
        <p class="show-user-name user-name">hello, <%= user.firstname %> <%= user.lastname %> </p>
        <a class="sign-out-button main-menu-button">Sign Out</a>
    </div>
</div>
<div class="menu-toolbar">
    <p class="project-name">RIA Project</p>
    <div class="tool-bar">
        <a class="tool-img tool-zoom-in"></a>
        <a class="tool-img tool-zoom-out"></a>
        <a class="tool-img tool-undo"></a>
        <a class="tool-img tool-redo"></a>
        <a class="edit-milestone tool-img tool-milestone"></a>
        <a class="tool-critical-way tool-img"></a>
        <a class="show-attachments tool-attachment tool-img"></a>
        <a class="show-settings tool-settings tool-img"></a>
    </div>
</div>