<nav class="menu">
    <ul>
        <li class="menu-left">
        <a class="back-to-landing-view" >
            <img class="logo" src="/images/plan-view-logo.svg" alt="logo">
        </a>
        <% if (page !== 'projects') { %>
            <a class="go-to-projects button-dark">my projects</a>
        <% } %>
        </li>
        <li class="menu-right">
            <p class="show-user-name user-name">hello, <%= userName %> </p>
            <a class="sign-out-button button-dark menu-button">Sign Out</a>
        </li>
    </ul>
</nav>
