
    <ul>
        <li><p><img src="/images/logo.svg" alt="logo">Plan&View</p></li>
        <li><a class="back-to-landing-view">HOME</a></li>
        <% if (page !== 'projects') { %>
        <li><a class="go-to-projects">Projects</a></li>
        <% } %>
        <li><a class="sign-out-button">Sign Out</a></li>
        <span>User Name: <%= user.name %></span>
        <% if (page !== 'projects') { %>
        <p>Project Name: <%= name %></p>
        <% } %>
    </ul>
