<nav class="menu">
    <div>
        <a class="back-to-landing-view" >
            <img class="logo" src="../../../images/plan-view-logo.svg" alt="logo">
        </a>
        <% if (page !== 'projects') { %>
        <a class="go-to-projects button-dark menu-button">my projects</a>
        <% } %>
    </div>
    <div>
        <p class="show-user-name user-name">hello, <%= userName %> </p>
        <a class="sign-out-button button-dark menu-button">Sign Out</a>
    </div>
</nav>
