<div class="form-wrapper">
    <div class="form-title">
        <div>Register</div>
    </div>
    <form id="regisrationForm">
        <div class="tab-container">
            <div class="tab-container">
                <label class="form-label">First Name:</label>
                <input class="form-input-text" maxlength="256" type="text"  placeholder="First Name" name="firstname" id="firstname" value=''>
                <label class="form-label">Last Name:</label>
                <input class="form-input-text" maxlength="256" type="text"  placeholder="Last Name" name="lastname" id="lastname" value=''>
                <label class="form-label">Email:</label>
                <input class="form-input-text" maxlength="256" type="email" placeholder="Email" name="email" value='' id="email">
                <label class="form-label">Password:</label>
                <input class="form-input-text" maxlength="256" type="password" placeholder="Password" name="password" id="password">
                <label class="form-label confirm-password-label">Confirm Password:</label>
                <input class="form-input-text confirm-password-input" maxlength="256" type="password" placeholder="Password" name="password2" id="password2">
            </div>
        </div>
        <div class="register-form-bottom">
            <input id="post_user" class="form-button ok-button" type="submit" value="ok">
            <input id="exit-button" class="form-button" type="submit" value="cancel">
        </div>
    </form>
</div>
