@import "../common/basic-popup-view";

.attachments-view {
  @extend .basic-popup-view;

  .attachments-attachments {
    @extend .attachments;
    height: 95%;
    margin: 0 auto;
  }

  .attachments-container{
    height: 320px;
  }

  .drag-hint {
    height: 40px;
    bottom: 0;
    font-size: 10px;
    color: green;
  }

  .attachment-form-bottom {
    @extend .form-bottom;
  }
}
