@import "../popup-view";

.attachments-view {
  @extend .popup-view;

  .attachments-header {
    text-align: center;
  }
  .attachment-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y:auto;
    height:300px;
  }

  .attachment-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  #delete-attachment-image {
    width: 20px;
    height: 20px
  }

  .referense-to-file {
    text-decoration: none;
    color: inherit;
  }

  .referense-to-file:hover {
    color: blue;
  }

  .upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

