$splitter-width: 10px;
$container-min-width: 200px;

#gantt-container {
  order: 3;
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow-y: scroll;
  width: 100%;
}
#task-container {
  width: 50%;
  min-width: $container-min-width;
  overflow-x: auto;
  overflow-y: hidden;
  //position: relative;
}
#splitter {
  display: block;
  width: $splitter-width;
  height: 100%;
  overflow: hidden;
  padding: $splitter-width/2;
  background-color: $grey;
  //position: absolute;
  //top: 0;
  //right: 0;

  &:hover {
    cursor: col-resize;
    background-color: $dark-grey;
  }
}
#gantt-chart-container {
  flex: 1;
  min-width: $container-min-width;
  overflow-x: auto;
  overflow-y: hidden;
}