.panel {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}

#gantt-container {
  order: 3;
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow-y: scroll;
  width: 100%;
}
.left-panel {
    @extend .panel;
  order: 1;
}
.right-panel {
    @extend .panel;
  order: 3;
}
#splitter {
  left: 50%;
  order: 2;
  display: block;
  overflow: hidden;
  width: 10px;
  height: 100%;
  padding: 5px;
  background-color: $grey;

  &:hover {
    cursor: col-resize;
    background-color: $dark-grey;
  }
}
