#info-bar-view-container{
  @extend .row-container;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  order: 4;
  width:100%;
  height: 60px;
  background-color: $blue;
  color: #fff;
}

.info-bar-item {
}