$info-bar-container-height: 60px;
.info-bar-view {
  @extend .row-container;
  order: 4;
  justify-content: space-between;
  width: 100%;
  min-height: $info-bar-container-height;
  background-color: $blue;
  color: #fff;
}

.info-bar-item {

}