$info-bar-font-stack:    Helvetica, sans-serif;
$info-bar-background-color: #333;
$info-bar-font-color: #fff;
$info-bar-label-font-size: 12px;
$info-bar-description-font-size: 12px;
$info-bar-label-margin: 5px;
$info-bar-height: 80px;

.info-bar-view {
  display: flex;
  font-size: $info-bar-label-font-size;
  justify-content: space-around;
  align-items: center;
  background-color: $info-bar-background-color;
  font: $info-bar-font-stack;
  color: $info-bar-font-color;
  height: $info-bar-height;
  bottom: 0;

  .info-bar-label{
    margin: $info-bar-label-margin;
  }

  .project-description{
    font-size: $info-bar-description-font-size;
  }
}
