$milestone-view-height: 30px;
.milestone-view {
  margin: 30px 0px ;
  background-color: inherit;
  height: $milestone-view-height;
}
.project-length-wrap {
  margin: auto;
  width: 80%;
  height: 2em;
}
.project-start-date {
  float: left;
}
.project-end-date {
  float: right;
}
.project-length {
  margin: 0px 70px;
  height: inherit;
  background-color: darkgray;
  position: relative;
}
.project-milestone {
  position: absolute;
}
.project-milestone-date {
  position: absolute;
  top: -1.5em;
  width: 8em;
  text-align: center;
  left: 1.5em;
}
.project-milestone-label-wrap {
  position: relative;
  left: 4.5em;
  top: 1em;
}
.project-milestone-label {
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-bottom-color: red;
  position: relative;
  top: -16px;
}
.project-milestone-label:after {
  content: '';
  position: absolute;
  left: -16px;
  top: 16px;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-top-color: red;
}
