@import "../common/basic-popup-view";

.milestone-edit-view {
  @extend .basic-popup-view;
}

.save-milestones-button {
  width: 80px;
  height: 35px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #5499c7;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1%;
}

.milestone-drop-list {
  display: inline-block;
  overflow-y: auto;
  width: 44%;
  height: 100%;
  margin-right: 2%;
  margin-left: 2%;
  border: 1px solid $dark-grey;
  padding-left: 5px;
  background-color: $drop-list-background-color;
}

.milestone-form-input-text {
  display: inline-block;
  width: 160px;
  border-radius: 10px;
  border: 1px solid #a9a9a9;
  padding: 8px 12px;
  font-family: Roboto, sans-serif;
  line-height: 20px;
  margin-bottom: 10px;
}

.milestones-container{
  height: 320px;
}

.milestone-task-name {
  overflow: hidden;
  width: 185px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table-milestone-header-row {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 22px;
  padding-left: 20px;
}

.table-header-milestone-cell {
  width: 20%;
  min-width: 250px;
  max-width: 250px;
  padding-top: 3px;
  padding-left: 6px;
  border-top: 1px none rgba(0, 0, 0, .05);
  border-bottom: 2px none rgba(0, 0, 0, .15);
  font-weight: 600;
  text-align: left;
}

.add-milestone-img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  margin-left: 6px;
}

.add-milestone-link {
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 2px;
  color: #007ad4;
  cursor: pointer;
}

.table-milestone-row {
  display: flex;
  height: 25px;
  padding: 4px 0px 0px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.table-cell-milestone {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  padding-left: 6px;
  justify-content: flex-start;
}

.milestone-link {
  position: relative;
  top: -4px;
  display: block;
  margin-top: 3px;
  margin-right: 5px;
  margin-left: 5px;
  float: right;
  clear: none;
  justify-content: flex-end;
  opacity: 0.3;
  cursor: pointer;
}

.milestone-link:hover {
  opacity: 1;
}

.milestone-link.edit-milestone {
  width: 19px;
  height: 19px;
  margin-right: 0px;
  background-image: url('../../../images/edit.svg');
  background-position: 0px 0px;
  background-size: contain;
}

.milestone-link.remove-milestone {
  width: 19px;
  height: 19px;
  background-image: url('../../../images/cancel.svg');
  background-position: 0px 0px;
  background-size: contain;
}

.set-milestone-name {
  margin-left: 25%;
}

.milestone-clone {
  position: relative;
  width: inherit;
  height: 64%;
  padding-left: 15px;
}

.milestone-button-wrapper {
  text-align: center;
}