$milestone-container-height: 80px;
$milestone-container-background: rgba(0,0,0, 0.05);
$project-timeline-width: 80%;
$project-timeline-height: 25px;
$project-timeline-background: linear-gradient(265deg, $green, $light-green);
$milestone-size: 25px;
$milestone-position-step: 50%;
$milestone-color: #D80027;
$milestone-date-after-border-step: 5px;

.milestone-view {
  @extend .row-container;
  order:2;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: $milestone-container-height;
  background-color: $milestone-container-background;
}

.milestone-center {
  position: relative;
  width: 100%;
}

.project-timeline {
  position: relative;
  display: block;
  width: $project-timeline-width;
  height: $project-timeline-height;
  margin-right: auto;
  margin-left: auto;
  border-radius: $border-radius;
  background-image: $project-timeline-background;
    
    &:hover {
      box-shadow: $box-shadow;
    }
}

.start-date {
  //position: absolute;
  top: 0px;
  left: 0px;
}

.end-date {
  position: absolute;
  top: 0px;
  right: 0px;
}

.milestone-position {
  position: absolute;
}

.milestone-date-wrap {
  visibility: hidden;
  opacity: 0;
  transition: opacity 700ms ease;
}

.milestone-date {
  position: absolute;
  bottom: $milestone-position-step;
  right: -$milestone-position-step*3;
  z-index: 1;
  width: $milestone-size*5;
  background-color: $milestone-color;
  text-align: center;
  padding: 5px 0;
  color: #fff;
  border-radius: 5px;
}

.milestone-date::after {
  content: "";
  position: absolute;
  top: $milestone-position-step*2;
  left: $milestone-position-step;
  margin-left: -$milestone-date-after-border-step;
  border-width: $milestone-date-after-border-step;
  border-style: solid;
  border-color: $milestone-color transparent transparent transparent;
}

.milestone-img {
  position: relative;
  right: $milestone-size/2;
  bottom: -($project-timeline-height/2);
  width: $milestone-size;
  height: $milestone-size;
  background-image: url('../../../images/milestone1.svg');
  background-size: contain;
  transition: all 500ms ease;
    
    &:hover {
      background-image: url('../../../images/milestone1.svg');
      transform: translate(0px, $project-timeline-height/2);
    }

    &:hover + .milestone-date-wrap {
      visibility: visible;
      opacity: 1;
    }
}
