@import "../basic-popup-view";

.milestone-edit-view {
  @extend .basic-popup-view;
}

.save-milestones-button {
  position: relative;
  right: 40%;
  width: 80px;
  height: 35px;
  float: right;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
  line-height: 27px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #5499c7;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  font-weight: 700;
  text-transform: uppercase;
}

#create-milestone {
  width: 100px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
  line-height: 15px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #5499c7;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  font-weight: 700;
  text-transform: uppercase;
}

#delete-milestone-image {
  width: 20px;
  height: 20px
}

.one-milestone-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.milestone-drop-list {
  @extend .drop-list;
  max-height: 180px;
  background-color: white;
}

.milestone-form-input-text {
  display: inline-block;
  width: 145px;
  border-radius: 10px;
  border: 1px solid #a9a9a9;
  padding: 8px 12px;
  font-family: Roboto, sans-serif;
  line-height: 20px;
  margin-bottom: 10px;
}
