
.mobile-project-info-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  font-family: "Roboto", serif;
  font-size: 1.5rem;
  height: 100vh;


  .mobile-project-info-header {
    width: 100%;
    height: 44px;
    background-color: #5499c7;
    display: flex;
    justify-content: center;
    align-items: center;

    .mobile-project-info-header-title {
      font-size: 2rem;
    }
  }

  .project-info-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .project-info-mobile-item {
      width: 100%;
      height: 60px;
      color: black;
      padding: 0 20px 0 20px;
      border-bottom: 1px solid darkgrey;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      &:nth-child(3) {
        border-color: transparent;
      }
    }

    .project-info-mobile-block {
      width: 100%;
      height: 60%;
      color: black;
      padding: 0 20px 0 20px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      line-height: 2rem;
    }
  }
}
