@import "../common-styles";

.menu-toolbar {
  @extend .row-container;
  order: 1;
  justify-content: space-between;
  height: $menu-container-height;
  color: $text-blue;
  background-color: #fff;
  box-shadow: $box-shadow;
}

.show-project-name {
  display: inline-block;
  padding: 10px 0px;
  font-weight: 700;
  color: $text-blue;
}

.tool-bar {
  display: inline-block;
}

.tool-img {
  display: inline-block;
  overflow: visible;
  width: 25px;
  height: 25px;
  margin-top: 7px;
  margin-right: 5px;
  margin-left: 5px;
  opacity: $icon-opacity;
  background-size: contain;
  background-position: 0 0;
  cursor: pointer;
}

.tool-img:hover {
  opacity: $icon-hover-opacity;
}

.tool-img.tool-zoom-in {
  margin-top: 5px;
  background-image: url('../../../images/zoom-in.svg');
}

.zoom-value{
}

.tool-img.tool-zoom-out {
  background-image: url('../../../images/zoom-out.svg');
}

.tool-img.tool-undo {
  background-image: url('../../../images/undo.svg');
}

.tool-img.tool-redo {
  background-image: url('../../../images/redo.svg');
}

.tool-img.tool-critical-way {
  background-image: url('../../../images/lightning.svg');
}

.tool-img.tool-attachment {
  background-image: url('../../../images/clip.svg');
}

.tool-img.tool-milestone {
  background-image: url('../../../images/milestone-outline.svg');
}

.tool-img.tool-settings {
  background-image: url('../../../images/settings.svg');
}

.tool-img.tool-ownership {
  background-image: url('../../../images/ownership.svg');
}

.tool-img.tool-resources {
  background-image: url('../../../images/resources.svg');
}




