@import "./project-menu";
$gantt-view-container-height: 66%;

.main-project-view {
  height: 100%;
  width: 100%;
}

#milestone-view-container, #gantt-view-container, #info-bar-view-container {
  width: 100%;
  display: flex;
  flex: 1;
}
#gantt-view-container {
  height: $gantt-view-container-height;
}