@import "../basic-popup-view";

.project-price-view {
  @extend .basic-popup-view;

  .form-wrapper {

    .price-container{
      display: block;
      position: relative;
    }

    .resources-prices{
      max-height: 155px;
      width: 80%;
      overflow-y: auto;
      margin: 0 auto;
    }

    .price-value{
      display: inline-block;
    }

    .show-prices{
      width: 15px;
      height: 15px;
      margin-right: 0px;
      background-image: url('../../../images/show-prices.svg');
      background-position: 0px 0px;
      background-size: contain;
      display: inline-block;
    }

    .hide-prices{
      width: 15px;
      height: 15px;
      margin-right: 0px;
      background-image: url('../../../images/hide-prices.svg');
      background-position: 0px 0px;
      background-size: contain;
      display: inline-block;
    }

    .table-price-header{
      display: -ms-flexbox;
      display: flex;
      width: 80%;
      margin: 0 auto;
      height: 22px;
      padding-left: 20px;
    }

    .table-item{
      width: 20%;
      min-width: 150px;
      max-width: 150px;
      padding-top: 3px;
      padding-left: 6px;
      border-top: 1px none rgba(0, 0, 0, .05);
      border-bottom: 2px none rgba(0, 0, 0, .15);
      font-weight: 600;
      text-align: left;
    }

    .table-resource-row {
      display: flex;
      width: 100%;
      height: 25px;
      padding: 4px 0px 0px 20px;
      border-bottom: 1px solid rgba(0, 0, 0, .15);
    }

    .price-item{
      position: relative;
      display: block;
      overflow: hidden;
      min-width: 150px;
      max-width: 150px;
      padding-left: 6px;
      justify-content: flex-start;
    }

    .total-price-label{
      font-weight: 600;
      display: inline-block;
    }

    .total-price-value{
      font-weight: 400;
      display: inline-block;
    }

    .project-price-form-bottom {
      @extend .form-bottom;
    }
  }
}
