@import "../basic-popup-view";

.settings-view {
  @extend .basic-popup-view;
  .form-wrapper{
    .tabs{

      .settings-container{
        height: 260px;

        .form-label.day-start-label{
          margin-top: 10px;
        }

        .form-input-text.project-start-date{
          line-height: 18px;
          margin-bottom: 3px;
        }

        .form-input-text.day-start{
          margin-top: -20px;
          vertical-align: middle;
        }

        .form-input-text.day-duration{
          margin-top: -5px;
        }

        .days-off{
          margin-top: 20px;
        }
      }
    }
    .settings-form-bottom{
      @extend .form-bottom;
    }
  }
}
