$table-cell-width: 100px;
$table-cell-padding-left: 5px;

$table-cell-task-width: $table-cell-width*2.5;

$table-cell-depends-width: $table-cell-width*2;

$icon-width: 20px;
$icon-margin-left-right: 5px;

$inner-cell-task-width: $table-cell-width*2.5 - $icon-width*2 - $icon-margin-left-right*4;

.table-cell {
  display: flex;
  align-items: center;
  min-width: $table-cell-width;
  max-width: $table-cell-width;
  padding-left: $table-cell-padding-left;
}

.table-task-header {
    flex-direction: column;
    height: $table-row-height*2;
    border-bottom: $divider-dark-border;
}
.table-task-row {
  @extend .table-row;
  padding: 0px;
}
.table-cell-task {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    min-width: $table-cell-task-width;
    max-width: $table-cell-task-width;
}
.cell-task {
  display: inline-block;
  min-width: $inner-cell-task-width;
  max-width: $inner-cell-task-width;
  overflow: hidden;

  &:hover {
    overflow: visible;
  }
}
.table-cell-dependsOn {
    min-width: $table-cell-depends-width;
    max-width: $table-cell-depends-width;
}

.add-link {
  padding-right: 10px;
  padding-left: 10px;
  color: $blue;
}
.add-task-img {
  width: $icon-width;
  height: $icon-width;
  margin-right: 12px;
}

.task-link {
  @extend .icon;
  width: $icon-width;
  height: $icon-width;
  margin: 0 $icon-margin-left-right;
}
