$basic-popup-background-color: rgba(0,0,0,0.3);
$form-background-color: #DED8D8;
$task-form-width: 500px;
$task-form-height: 420px;
$task-form-border-color: #333;
$task-form-border-radius: 10px;
$task-form-color: #000;
$task-form-font-stack: Helvetica, sans-serif;
$task-form-font-size: 14px;
$task-form-inner-margin: 20px;


.task-view {
  background-color: $basic-popup-background-color;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font: $task-form-font-stack;
  font-size: $task-form-font-size;

  .main-form {
    z-index: 1005;
    background-color: $form-background-color;
    margin: 0 auto;
    margin-top: 100px;
    width: $task-form-width;
    height: $task-form-height;
    border: 1px solid $task-form-border-color;
    //position: absolute;

    .tab {
      list-style-type: none;
      line-height: 40px;
      overflow: hidden;
      margin: 0px;
      padding: 0px;
      border: 1px solid #ccc;
      background-color: #f1f1f1;

      .tab-item {
        float: left;
        padding-right: 10px;
        padding-left: 10px;
      }

      .tab-item:hover{
        background-color: #ddd;
      }

      .tab-item:focus,
      .active{
        background-color: #ccc;
      }

    }
    .general-content{
      height: 340px;
    }
    .general-information{
      height: 225px;
    }

    .line{
      border-bottom: 1px solid #4c4e51;
    }
    .attachments{
      height: 95px;
      width: 225px;
      margin: $task-form-inner-margin;
      overflow-x: scroll;

      .attachment-item{
        width: 90px;
        height: 85px;
        position: relative;
        display: block;
        float: left;

        .attachment-image{
          width: 40px;
          height: 40px;
          position: relative;
          top:5px;
          left: 25px;
        }
        .attachment-name{
          width: 90px;
          margin: 0 auto;
          text-align: center;
        }
        .delete{
          width: 15px;
          height: 15px;
          position: absolute;
          z-index: 2;
          top:0px;
          right:17px;
        }
      }
    }
    .add-attachment{
      width: 200px;
    }
    .dependencies-content{
      height: 340px;
    }
    .common-form-buttons{
      position: relative;
      bottom: 0;
      height: 40px;
      background-color: #4c4e51;

      .ok-button,
      .cancel-button{
        height: 30px;
        margin: 5px;
        float:right;
        line-height: 20px;
        padding:5px 20px;
        font-size: $task-form-font-size;
        font-family: $task-form-font-stack;
        color: $task-form-color;
        background-color: $form-background-color;
      }

    }
    .list-of-all-tasks,
    .task-dependencies{
      width: 40%;
      height: 80%;
      background-color: #fff;
      //overflow-y: scroll;
    }
    .table-header{
      background-color: #ddd;
      top: 0;
      width: 250px;
    }
    .control-buttons{
      width: 10%;
      display: inline-block;
      margin-top: 50px;

      .add-dependency,
      .delete-dependency{
        width: 30px;
        height: 30px;
        float: left;
        margin: 10px 14px;
        line-height: 20px;
        padding:5px 0px;
        font-size: $task-form-font-size;
        font-family: $task-form-font-stack;

      }
    }
  }
}

.left-side {
  float: left;
  margin-top: $task-form-inner-margin;
  margin-left: $task-form-inner-margin;
}

.right-side {
  float: right;
  margin-top: $task-form-inner-margin;
  margin-right: $task-form-inner-margin;
}

.show-content{
  display: block;
}

.hide-content{
  display: none;
}