$table-cell-width: 120px;
$table-cell-task-width: $table-cell-width*1.5;
$table-cell-depends-width: $table-cell-width*1.5;
$icon-width: 20px;
$icon-margin-left-right: 5px;
$inner-cell-task-width: $table-cell-width;

#tasks-list{
  min-width: 700px;
}
.table-cell {
  @extend .table-cell;
  display: flex;
  align-items: center;
  min-width: $table-cell-width;
  max-width: $table-cell-width;
}
.table-task-header {
  flex-direction: column;
  height: $table-row-height*2;
}
.table-task-row {
  @extend .table-row;
}
.table-cell-task {
  @extend .table-cell;
  display: flex;
  align-items: center;
  flex-direction: row;
  min-width: $table-cell-task-width;
  max-width: $table-cell-task-width;
}
.cell-task {
  display: inline-block;
  min-width: $inner-cell-task-width;
  max-width: $inner-cell-task-width;
  height: $line-height;
  margin-left: 10px;
  overflow: hidden;

  &:hover {
    overflow: visible;
  }
}
//.table-cell-dependsOn {
//    min-width: $table-cell-depends-width;
//    max-width: $table-cell-depends-width;
//    height: $line-height;
//    overflow: hidden;
//
//  &:hover {
//    overflow: visible;
//  }
//}

.task-link {
  @extend .icon;
  width: $icon-width;
  height: $icon-width;
  margin: 0 $icon-margin-left-right;
}
.add-task-icon {
  background-image: url('/images/add-circle.svg');
  width: 25px;
  height: 25px;
  margin-right: 14px;
  background-size: contain;
  background-position: 0 0;
  opacity: 0.5;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
