@import "../basic-popup-view";

.task-view {
  @extend .basic-popup-view;

  .form-wrapper {

      .tasks-container {
        height: 340px;
        .tab-container {
          .tab-container.general-content,
          .tab-container.dependencies-content,
          .tab-container.attachments-content {
            height: 290px;
          }

          .task-attachments {
            @extend .attachments;
          }
          .form-button.delete-task{
            background-color: $red;
            width: 75px;
          }
        }
      }

    .task-form-bottom {
      @extend .form-bottom;
    }
  }
}
