<div class = "main-form">
    <div class="add-attachment">
        <form class="upload" enctype="multipart/form-data">
            <input id="attachment-file" type="file"></input>
            <button class="add-attachment-button">Add</button>
        </form>
    </div>
    <div class="attachment-list">
        <ul>
        <%for(var i = 0; i <  attachments.length; i++) {%>
            <div class="attachment-item">
                <a href="<%=attachments[i].relativePath%>" target="_blank">
                    <li><%= attachments[i].fileName %></li>
                </a>
                <div id="delete-attachment" data-id="<%= attachments[i].attachmentId %>" data-position="<%=i%>">
                    <img src="/images/delete-button.png" id="delete-attachment-image" alt="delete attachment"/>
                </div>
            </div>
            <%}%>
        </ul>
    </div>
    <div class="common-form-buttons">
        <button class="ok-button">Ok</button>
    </div>
</div>