<div class="table-date-header">
    <div class="table-date-header-top">
        <div class="table-date-top">Week</div>
        <div class="table-date-top">Week</div>
        <div class="table-date-top">Week</div>
        <div class="table-date-top">Week</div>
    </div>
    <div class="table-date-header-bottom">
        <div class="table-date-bottom">
            <div class="table-date-bottom-cell">M</div>
            <div class="table-date-bottom-cell">T</div>
            <div class="table-date-bottom-cell">W</div>
            <div class="table-date-bottom-cell">T</div>
            <div class="table-date-bottom-cell">F</div>
        </div>
        <div class="table-date-bottom">
            <div class="table-date-bottom-cell">M</div>
            <div class="table-date-bottom-cell">T</div>
            <div class="table-date-bottom-cell">W</div>
            <div class="table-date-bottom-cell">T</div>
            <div class="table-date-bottom-cell">F</div>
        </div>
        <div class="table-date-bottom">
            <div class="table-date-bottom-cell">M</div>
            <div class="table-date-bottom-cell">T</div>
            <div class="table-date-bottom-cell">W</div>
            <div class="table-date-bottom-cell">T</div>
            <div class="table-date-bottom-cell">F</div>
        </div>
        <div class="table-date-bottom">
            <div class="table-date-bottom-cell">M</div>
            <div class="table-date-bottom-cell">T</div>
            <div class="table-date-bottom-cell">W</div>
            <div class="table-date-bottom-cell">T</div>
            <div class="table-date-bottom-cell">F</div>
        </div>
    </div>
</div>
<div class="table-date-row">
    <div class="table-date-row-block">
        <div class="table-date-cell"></div>
        <div class="table-date-cell"></div>
        <div class="table-date-cell"></div>
        <div class="table-date-cell"></div>
        <div class="table-date-cell"></div>
    </div>
    <div class="table-date-row-block">
        <div class="table-date-cell"></div>
        <div class="table-date-cell"></div>
        <div class="table-date-cell"></div>
        <div class="table-date-cell"></div>
        <div class="table-date-cell"></div>
    </div>
    <div class="table-date-row-block">
        <div class="table-date-cell"></div>
        <div class="table-date-cell"></div>
        <div class="table-date-cell"></div>
        <div class="table-date-cell"></div>
        <div class="table-date-cell"></div>
    </div>
    <div class="table-date-row-block">
        <div class="table-date-cell"></div>
        <div class="table-date-cell"></div>
        <div class="table-date-cell"></div>
        <div class="table-date-cell"></div>
        <div class="table-date-cell"></div>
    </div>
</div>