<div class="milestone-center">
    <div class="start-date">Start Date</div>
    <div class="project-timeline">
        <div class="milestone-date">Milestone date</div>
        <div class="milestone-img"></div>
    </div>
    <div class="end-date">End Date</div>
</div>