
<div>
    <button class="edit-milestone">Edit milestones</button>
    <div class="project-length-wrap">
        <div class="project-start-date">
            <div>Start: </div>
            <div>date</div>
        </div>
        <div class="project-end-date">
            <div>End: </div>
            <div>date</div>
        </div>
        <div class="project-length">
            <div class="project-milestone" style="length:<%

                %>">
                <div class="project-milestone-date">Milestone Date</div>
                <div class="project-milestone-label-wrap">
                    <div class="project-milestone-label"></div>
                </div>
            </div>
        </div>
    </div>
</div>
