<div class="milestone-center">
    <div class="start-date"><%= startDate %></div>
    <div class="project-timeline">
        <% for (var i = 0; i < milestones.length; i++) { %>
        <div class="milestone-position" style="left:<%= milestonesPositions[i] %>%">
            <div class="milestone-img"></div>
            <div class="milestone-date-wrap">
            <div class="milestone-date"><%= milestonesDates[i] %></div>
            </div>
        </div>
        <% } %>
    </div>
    <div class="end-date"><%= endDate %></div>
</div>