<div class="form-wrapper">
    <form class="main-form">
        <div class="form-title">
            <div>Milestone Edit</div>
        </div>

        <div class="form-bottom">
            <input class="form-button ok-button" type="submit" value="ok">
            <input class="form-button cancel-button" type="submit" value="cancel">
        </div>
    </form>
</div>