<div class="form-wrapper">
    <form class="main-form">
        <div class="form-title">
            <div class="left">Project Price</div>
            <div class="center"></div>
            <div class="right"><button class="close-btn form-button cancel-button ok-button" type="button"></button></div>
        </div>
        <div class="tab-container">
            <div class="tab-container">
                <label class="form-label project-price">Project Price:</label>
                <div class="price-container">
                    <div class="table-price-header">
                        <div class="table-item">Name</div>
                        <div class="table-item">Price</div>
                    </div>
                    <div class="resources-prices">
                        <% for(var i = 0; i < resources.length; i++) { %>
                            <div class="table-resource-row">
                                <div class="price-item"><%= resources[i].resourceName %></div>
                                <div class="price-item"><%= price.resourcesPrice[i]%></div>
                            </div>
                        <% } %>
                    </div>
                    <br>
                    <div class="total-price-label">Total Price: </div>
                    <div class="total-price-value"><%= price.price %></div>
                </div>
                <br>
                <label class="form-label project-duratione">Project Duration:</label>
                <div class="duration-value"><%= duration %></div>
            </div>
        </div>
        <div class="project-price-form-bottom">
            <button type="button" class="form-button ok-button">ok</button>
        </div>
    </form>
</div>
