<div class="menu-toolbar">
    <% if (page !== 'projects') { %>
    <p class="show-project-name"> </p>
    <% } %>
    <div class="tool-bar">
        <label id="zoom-value" class="zoom-value">100%</label>
        <a class="tool-img tool-zoom-out" title="Zoom Out"></a>
        <a class="tool-img tool-zoom-in" title="Zoom In"></a>
        <a class="tool-img tool-undo" title="Undo" id="undo" disabled="disabled"></a>
        <a class="tool-img tool-redo" title="Redo" id="redo" disabled="disabled"></a>
        <a class="tool-img tool-price" title="Project Price" id="price"></a>
        <a class="edit-milestone tool-img tool-milestone" title="Milestones"></a>
        <a class="tool-critical-way tool-img" title="Critical Path"></a>
        <a class="show-attachments tool-attachment tool-img" title="Attachments"></a>
        <a class="show-resources tool-resources tool-img" title="Resources"></a>
        <a class="show-ownership tool-ownership tool-img" title="Ownership"></a>
        <a class="show-settings tool-settings tool-img" title="Settings"></a>
    </div>
</div>
<div id="milestone-view-container"></div>
<!--Added class resible to show splitter between inner containers-->
<div id="gantt-view-container" class="resizable"></div>
<div id="info-bar-view-container"></div>
<div id="task-info-view-container"></div>