<div class="project-info-mobile">
    <h3>Single Project Main Page</h3><br>
    <p>Description: <%= project.description %></p><br>
    <p>Author: <%= project.author %></p><br>
    <p>StartDate: <%= moment.unix(project.startDate).format('DD/MM/YY HH:mm') %></p><br>
</div>