
<nav id="menu" class="menu-mobile slideout-menu slideout-menu-left">

    <header class="mobile-menu-header">
        <span class="mobile-menu-header-title">Single Project Name</span>
    </header>

    <div class="mobile-menu-section">
    <h3 class="mobile-menu-section-title">Select where to Go</h3>
    <ul class="mobile-menu-section-list">
        <li><a>Milestones</a></li>
        <li><a>Resources</a></li>
        <li><a>Tasks</a></li>
        <li><a>Ownership</a></li>
    </ul>
    </div>
</nav>

<main id="panel" class="panel slideout-panel slideout-panel-left">
    <header class="panel-header">
        <button class="toggle-button">&#9776;</button>
        <h2>Single Project Main Page</h2>
    </header>
    <div class="mobile-project-content">
        <!--CONTENT OF MOBILE SINGLE PROJECT GOES HERE!!!-->
        <p>Put description or Gannt Chart Here</p><br>
        <p>Render POPUps for Milestones, Resources, Ownership!</p>
    </div>
</main>
