<div class="menu-toolbar">
    <% if (page !== 'projects') { %>
    <p class="show-project-name"> </p>
    <% } %>
    <div class="tool-bar">
        <a class="tool-img tool-zoom-in"></a>
        <a class="tool-img tool-zoom-out"></a>
        <a class="tool-img tool-undo"></a>
        <a class="tool-img tool-redo"></a>
        <a class="edit-milestone tool-img tool-milestone"></a>
        <a class="tool-critical-way tool-img"></a>
        <a class="show-attachments tool-attachment tool-img"></a>
        <a class="show-settings tool-settings tool-img"></a>
    </div>
</div>
<div id="milestone-view-container"></div>
<div id="gantt-view-container"></div>
<div id="info-bar-view-container"></div>