<div class="menu-toolbar">
    <% if (page !== 'projects') { %>
    <p class="show-project-name"> </p>
    <% } %>
    <div class="tool-bar">
        <span class="tool-img tool-zoom-in"></span>
        <span class="tool-img tool-zoom-out"></span>
        <span class="tool-img tool-undo"></span>
        <span class="tool-img tool-redo"></span>
        <span class="edit-milestone tool-img tool-milestone"></span>
        <span class="tool-critical-way tool-img"></span>
        <span class="show-attachments tool-attachment tool-img"></span>
        <span class="show-ownership tool-ownership tool-img"></span>
        <span class="show-settings tool-settings tool-img"></span>
    </div>
</div>
<div id="milestone-view-container"></div>
<!--Added class resible to show splitter between inner containers-->
<div id="gantt-view-container" class="resizable"></div>
<div id="info-bar-view-container"></div>