<nav id="menu" class="menu-mobile slideout-menu slideout-menu-left">

    <header class="mobile-menu-header">
        <span class="mobile-menu-header-title">Project Menu</span>
    </header>

    <div class="mobile-menu-section">
        <ul class="mobile-menu-section-list">
            <li class="mobile-menu-section-item"><a class="back-to-projects">List of Projects</a></li>
            <li class="mobile-menu-section-item"><a class="show-tasks-list">Tasks</a></li>
            <li class="mobile-menu-section-item"><a class="show-ganttchart">Gantt Chart</a></li>
            <li class="mobile-menu-section-item"><a class="show-milestones">Milestones</a></li>
            <li class="mobile-menu-section-item"><a class="show-resources">Resources</a></li>
            <li class="mobile-menu-section-item"><a class="sign-out-button">Sign Out</a></li>
        </ul>
    </div>
</nav>

<main id="panel" class="panel slideout-panel slideout-panel-left">
    <header class="panel-header">
        <button class="toggle-button">&#9776;</button>
        <span class="mobile-panel-header-title"> <%= project.name %></span>
    </header>
    <!--This empty CONTENT div below is for rendering our views like: ProjectInfo, TasksList, Milestones, Resources-->
    <div class="mobile-project-content"></div>
</main>

