<div class="task-info-mobile">
    <h3>Single Task Main Page</h3><br>
    <p>Description: <%= task.description %></p><br>
    <p>Name: <%= task.name %></p><br>
    <p>StartDate: <%= moment.unix(task.startDate).format('DD/MM/YY HH:mm') %></p><br>
    <p>Resource: <%= task.resource %></p><br>
</div>