<div class="task-info-mobile">
    <h3>Single Task Main Page</h3><br>
    <p>Description: <%= tasks.description %></p><br>
    <p>Name: <%= tasks.name %></p><br>
    <p>StartDate: <%= moment.unix(tasks.startDate).format('DD/MM/YY HH:mm') %></p><br>
    <p>Resource: <%= tasks.resource %></p><br>
</div>