<div class="table-task-header">
    <div class="table-task-header-row">
        <div class="table-header-cell table-header-task-cell">Name</div>
        <div class="table-header-cell">Estimate</div>
        <div class="table-header-cell table-cell-dependsOn">Depends on</div>
        <div class="table-header-cell">Assignee</div>
    </div>
    <div class="table-row">
        <img class="add-task-img" src="../../../images/add.svg">
        <a class="add-task-link add-task">Task</a>
        <a class="add-task-link edit-milestone">Milestone</a>
    </div>
</div>