<div class="table-task-header">
    <div class="table-header-row">
        <div class="table-cell-task">Task Name</div>
        <div class="table-cell table-cell-number">Estimate (hrs)</div>
        <div class="table-cell table-cell-number">Start Date</div>
        <div class="table-cell">Assignee</div>
    </div>
    <div class="table-header-row">
        <div class="table-cell">
            <button class="button-light add-task">add task</button>
        </div>
    </div>
</div>