button {
  background-color: #4c4e51;
  color: white;
  font-family: Verdana, Times, sans-serif;
  font-weight: bold;
  border: none;
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: left;
}
