
.landing-menu {
  height: 40px;
  padding: 0 70px 0 70px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
  background-color: #5499c7;
  color: #fff;

  .logo {
    flex: 0 0 120px;
    align-items: flex-start;
  }

  ul {
    flex: 1;
    height: 100%;
    margin: 0; padding: 0;
    display: flex;

    .landing-menu-left {
      flex: 0 0 50%;
      display: flex;
      justify-content: flex-start;
    }

    .landing-menu-right {
      flex: 0 0 50%;
      display: flex;
      justify-content: flex-end;
    }

    .not-logined {
      flex: 0 0 100%;
      display: flex;
      justify-content: flex-end;
    }

    li {
      list-style: none;
      display: flex;
      align-items: center;

      .menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 27px;
        width: 100px;
        margin-left: 20px;
        border: 1px solid #fff;
        border-radius: 10px;
        transition: background-color 500ms ease;
        text-transform: capitalize;
        cursor: pointer;

        &:hover {
          border: 1px solid #fff;
          background-color: #2980b9;
        }
      }
    }
  }
}

