$font-stack: 'Roboto', sans-serif;
$primary-font-size: 16px;

.landing-view {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-family: $font-stack;
    color: #5499c7;
  }

  .landing-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;

    .landing-header {
      height: 150px;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      color: #5499c7;
      box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.3);
    }

    .landing-main-img {
      margin: 20px auto;
      align-items: center;
    }

    .gantt-chart-description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .landing-description {
        width: 75%;
        text-align: center;
      }
    }

    .block {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .landing-img {
        padding: 5px;
        margin: 10px;
      }

      .landing-list {
        flex: 1;
        box-shadow: inset 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
        padding: 10px;
      }
    }
  }

  .landing-footer {
    color: #fff;
    font-family: $font-stack;
    background-color: #5499c7;
    height: 40px;
    left: 0;
    bottom: 0;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    position: absolute;
    width: 100%;
  }
}