.main-menu {
  flex: 1 100%;

  ul {
    display: flex;
    flex-wrap: wrap;
    //justify-content: flex-end;
    align-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4c4e51;
    font-weight: bold;
    color: white;
    p {
      font-family: "Comic Sans MS";
      font-size: 20px;
      text-align: center;
      margin: auto;
      padding: 10px 0px;
    }
    li {
      margin: 0 auto;
      border-left: 2px solid #2D77A2;
      &:first-child {
        border: none;
        //align-self: flex-start;
        float: right;
      }
      &:nth-child(2) {
        //align-self: flex-start;
      }

      & a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      & a:hover {
        background-color: #111;
      }
      & img {
        height: 30px;
        width: 30px;
        text-align: center;
        padding: 8px 16px;
      }
      & p {
        font-family: "Comic Sans MS";
        font-size: 20px;
        margin: auto;
        padding: 10px 20px 0px 0px;
      }
    }
  }
}