
<ul>
    <li><img src="/images/logo.svg" alt="logo"><p>Plan&View</p></li>
    <!--Projects btn will be deleted from this view - After SignIn implementation-->
    <li><a class="go-to-projects">Projects</a></li>
    <li><a class="sign-up-button">Sign Up</a></li>
    <li><a class="sign-in-button">Sign In</a></li>
    <li><a class="login-btn">Log In</a></li>
    <li><a class="registration-btn">Register</a></li>
</ul>