<nav class="landing-menu">
    <div>
        <li><img class="logo" src="/images/plan-view-logo.svg" alt="logo">
            </li>
        <li><a class="go-to-projects main-menu-button">my projects</a></li>
    </div>
    <div>
        <li><a class="registration-btn main-menu-button">Sign Up</a></li>
        <li><a class="login-btn main-menu-button">Sign In</a></li>
    </div>
</nav>