<!--<div class="landing-menu-container"></div>-->
<!--<div class="landing-container"></div>-->

<div class="landing-wrapper">
    <div class="landing-header"><h1>plan&view</h1></div>

    <div class="landing-main-img"><img src="/images/landing-gantt.png" ></div>


    <div class="gantt-chart-description">
        <h3>Achive fast, easy, efficient project management using Gantt charts.</h3><br>
        <h3>What is a Gantt chart</h3>
        <p class="landing-description">Gantt charts are interactive bar charts that help managers and teams completely outline and schedule projects on a timeline.
            They allow you to illustrate and visualize every step from day one to the end, connect tasks with
            dependent relationships, and track project progress to make sure you’ll meet your projected deadline.</p>
    </div>

    <div class="block">
        <div class="landing-img"><img src="/images/img1.png" ></div>

        <div class="landing-list">
            <h3>Features</h3>
            <p class="landing-p">
                Timeline broken up into days, months, years.<br>
                Task dependency lines or arrows <br>
                Milestones<br>
                Bars to show the full duration of each task<br>
                A line to denote the current date within the project schedule<br>
                Critical path timeline
            </p>
        </div>

        <div class="landing-img"><img src="/images/img2.png" ></div>

    </div>

</div>
<footer class="landing-footer">
    <label>Plan&View &copy; 2016</label>
</footer>