<div class="landing-wrapper">

    <div class="landing-first-block landing-block-height">
        <div id="landing-menu"></div>
        <div class="landing-first-block-description">
        <img class="big-logo" src="images/plan-view-logo-1.svg">
        <h1 class="landing-h">Create a beautiful project plan in minutes with Plan&amp;View free gantt chart software.</h1>
        <a href="#" class="landing-started-buttom" >GET STARTED FOR FREE</a>
        </div>
    </div>

    <div class="landing-manage-block landing-block-height">
        <div class="w-row">
            <div class="landing-manage-block-description">
                <h1 class="landing-manage-h ">Manage Workloads</h1>
                <p class="landing-manage-p">One of the benefits of using gantt charts with built in&nbsp;resource management software, is that you can see what each person is working on any given day. See who’s busy and who’s not. Be more realistic about project timelines and easily understand if you need more staffing. Improve company morale by not stressing people out with too much work.</p>
            </div>
            <div class="landing-manage-block-img"></div>
        </div>
    </div>


    <div class="landing-info-block">
        <h1 class="landiang-info-h">Online Gantt Chart Software</h1>
        <p class="landing-info-p">Plan&amp;View is the refreshing solution that brings gantt chart software online.You can now plan and manage your projects with this super easy to use gantt software. Inviting your co-workers, teammates, and friends to view and edit your gantt chart is fun!</p>
    </div>

    <div class="landing-section landing-block-height">

        <div class="landing-colum-l landing-block-height"></div>

        <div class="landing-colum-r landing-block-height">
            <h1 class="landing-manage-h">Everything Right Where You Need It</h1>
            <p class="landing-manage-p">Plan&amp;View&nbsp;project management software lets you keep all of your tasks, documents, conversations, and team availability in one place. Centralize your projects information so that you and your team know right where to go for everything. Documents and conversations are connected directly to the associated task or milestone.</p>
        </div>

    </div>


    <div class="landing-features-block">
        <h1 class="landing-h-features">More Features</h1>
        <div class="w-row">
            <div class="landing-features-block-description">
                <div class="landing-icon-style"><img class="landing-icon" src="images/icon-multiple.svg">
                    <div class="landing-icon-description">
                        <h5 class="landing-icon-h">Multiple projects in one Gantt</h5>
                        <p class="landing-icon-p">Finally, you can see all your in a single glorious view. See how resources are affected across projects.</p>
                    </div>
                </div>
                <div class="landing-icon-style"><img class="landing-icon" src="images/icon-easy.svg">
                    <div class="landing-icon-description">
                        <h5 class="landing-icon-h">Easy for non-project managers too</h5>
                        <p class="landing-icon-p">Powerful enough to be a&nbsp;MS project alternative, but built to be intuitive and usable by everyone on your team.</p>
                    </div>
                </div>
                <div class="landing-icon-style"><img class="landing-icon" src="images/icon-file-upload.svg">
                    <div class="l-icon-description">
                        <h5 class="landing-icon-h">File upload</h5>
                        <p class="landing-icon-p">Upload any file directly to a task or project.</p>
                    </div>
                </div>
            </div>
            <div class="landing-features-block-description">
                <div class="landing-icon-style"><img class="landing-icon" src="images/icon-depend.svg">
                    <div class="l-icon-description">
                        <h5 class="landing-icon-h">Dependencies between tasks</h5>
                        <p class="landing-icon-p">What tasks need to finish, before others can start? How will a effect the rest of the project? dependencies give you the answer visually.,</p>
                    </div>
                </div>
                <div class="landing-icon-style"><img class="landing-icon" src="images/icon-critical-psth.svg" width="117">
                    <div class="l-icon-description">
                        <h5 class="landing-icon-h">Critical Path</h5>
                        <p class="landing-icon-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus,</p>
                    </div>
                </div>
                <div class="landing-icon-style"><img class="landing-icon" src="images/manage-resourse.svg" width="117">
                    <div class="l-icon-description">
                        <h5 class="landing-icon-h">Manage resourse</h5>
                        <p class="landing-icon-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus,</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="landing-footer">PV-2017</div>-->
</div>