<button class="back-to-landing-view">HOME</button>
<%if (page !== 'projects') { %>
    <button class="go-to-projects">Projects</button>
<% } %>
<button class="sign-out-button">Sign Out</button>
<%if (page !== 'projects') { %>
    Project Name: <%= name %>
<% } %>