<div class="projects-title">
    <br>
    <div><p>Enim denique scribentur vix ex, has impetus aliquid menandri ea. Ea eum regione vivendum concludaturque,
            ponderum expetenda no eum. Suas nonumy ius at, pri id facer tation, id facilisi erroribus est. Eos iusto
            tempor
            antiopam in, noster probatus vim at. Dicta primis te qui, per no assentior assueverit, ne ius tractatos
            elaboraret. Ex dicunt tritani persequeris qui, docendi perpetua per eu. Vix posse paulo definitionem no.
            <br>
            <strong>Click on project name to see it's description or click on "Go to project" to visit it's
                page!</strong>
    </div>

    <button class="create-project">New Project</button>
</div>