<div class="create-button-container">
    <button class="create-project">New Project</button>
</div>
<div class="projects-list-block"></div>
<div class="project-about-block"></div>
<div class="popup-container"></div>