<div class="projects-title">

    <div class="project-title-text">
            <p><strong>Click on project name to see it's description or click on "Go to!" to visit it's
                page! Press New to create project or Edit/Remove signs for existing one.</strong></p>
    </div>

</div>