
<h2> Projects Name List</h2>

<ul>
    <% for(var i = 0; i < projects.length; i++) {%>
        <li class="projects-list-item" data-id="<%= projects[i].id %>">
            <%= projects[i].name %>
            <!--TODO: Make spans and buttons flex-items inside li element!-->
            <span class="projects-list-link" data-id="<%= projects[i].id %>">Go to project!</span>
            <button class="edit-project">Edit</button>
            <button class="delete-project" data-id="<%= projects[i].id %>">Delete</button>
        </li>
    <% } %>
</ul>