<div class="mobile-projects-header">
    <span class="mobile-projects-header-title">Projects List</span>
</div>

<ul class="mobile-projects-list">
    <% for(var i = 0; i < projects.length; i++) {%>
    <li class="projects-list-item" data-id="<%= projects[i].id %>">
        <a class="projects-name"> <%= projects[i].name %> </a>
        <a class="projects-link icon-open-mobile" title="Open" data-id="<%= projects[i].id %>"></a>
    </li>
    <% } %>
</ul>