<div class="projects-title">

    <div class="project-title-text"><p>Enim denique scribentur vix ex, has impetus aliquid menandri ea. Ea eum regione
            vivendum concludaturque,
            ponderum expetenda no eum. Suas nonumy ius at, pri id facer tation, id facilisi erroribus est.
            <br>
            <strong>Click on project name to see it's description or click on "Go to!" to visit it's
                page! Press New to create project or Edit/Remove signs for existing one.</strong></p>
    </div>

    <button class="create-project">New Project</button>
</div>