$roboto: 'Roboto', serif;

.projects-title {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);

  .project-title-text {
    font-family: $roboto;
    width: 80%;
  }

  .create-project {
    align-self: flex-start;
    height: 25px;
    width: 100px;
    border: 1px solid #5499c7;
    border-radius: 10px;
    color: #5499c7;
    background-color: #fff;
    transition: background-color 500ms ease;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;

    &:hover {
      color: #fff;
      background-color: #5499c7;
    }
  }
}
