$roboto: 'Roboto', serif;

.projects-title {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .project-title-text {
    font-family: $roboto;
    width: 80%;
  }
}
