
.projects-list {
  display: flex;
  flex-direction: column;

  .projects-list-header {
    height: 60px;
    display: flex;
    align-items: center;
  }

  ul {
    display: flex;
    flex-direction: column;

    li {
      list-style: none;
      height: 50px;
      background-color: #fafafa;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      border-left: 2px solid transparent;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .projects-link-name {
        color: #5499c7;
        width: 50%;
        cursor: pointer;

        &::selection {
          background-color: transparent;
        }
      }

      &:hover {
        background-color: #f5f5f5;
      }

      &.active {
        border-left: 2px solid #2980b9;
      }

    }
  }
}
