
    <div class="info-bar-item">
        <h3><%= name %></h3>
        <h4> Author: </h4>
    </div>
    <div class="info-bar-item">
        <p>Description</p>
    </div>
    <div class="info-bar-item">
        <h3>Start Date: </h3>
        <h3>Create Date: </h3>
        <h3>Modified: </h3>
    </div>
