$basic-popup-background-color: rgba(0, 0, 0, 0.3);
$blue: #2980b9;
$light-blue: #5499c7;
$white: #fff;
$light-grey: #f5f5f5;
$grey: #e0e0e0;
$dark-grey: #a9a9a9;
$black: #000;
$drop-list-background-color: #f5f5f5;
$form-wrapper-width: 560px;
$tab-height: 40px;

.basic-popup-view {
  background-color: $basic-popup-background-color;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .form-wrapper {
    display: block;
    width: $form-wrapper-width;
    height: inherit;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid $blue;
    font-family: Roboto, sans-serif;
    background-color: $white;
    font-size: 13px;
    font-weight: 400;
    z-index: 1005;

    .form-title {
      height: $tab-height;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding-left: 20px;
      background-color: $light-blue;
      font-family: Roboto, sans-serif;
      color: $white;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      width:100%;
      text-align:center;

      .left {
        float:left;
        width:100px;
      }

      .center {
        display: inline-block;
        margin:0 auto;
        width:100px;
      }

      .right{
        float:right;
        width:100px;
        justify-content: flex-end;
        
        .close-btn{
          width: 40px;
          height: $tab-height;
          background-image: url('../../../images/close_icon.svg');
          background-size: contain;
          background-repeat: no-repeat;
          margin-right: -55px;
        }
      }
    }

    .tabs-menu {
      width: 100%;
      height: $tab-height;
      background-color: $light-grey;

      .tab-link {
        background-color: $grey;
        padding: 9px 30px;
        line-height: 20px;
        float: left;
      }

      .tab-link:focus {
        background-color: $white;
      }

      .tab-link.w--current {
        display: inline-block;
        background-color: $white;
        font-family: Roboto, sans-serif;
      }

    }

    .tab-container {
      height: 100%;
      padding: 10px 30px;

      .form-label {
        position: relative;
        top: -4px;
        color: $black;
        display: inline-block;
        width: 100px;
        margin-bottom: 10px;
        font-weight: 700;
        line-height: 20px;
      }

      .description-label {
        top: -70px;
      }

      .confirm-password-label {
        top: 10px;
      }

      .dependancy-label {
        display: inline-block;
        width: 45%;
        margin-right: 2%;
        margin-left: 2%;
        text-align: center;
      }

      .form-input-text {
        display: inline-block;
        width: 330px;
        border: 0;
        outline: 0;
        border-bottom: 1px solid $dark-grey;
        padding: 8px 12px;
        font-family: Roboto, sans-serif;
        line-height: 20px;

      }

      .form-input-text:focus,
      .form-input-description:focus {
        border: 0;
        outline: 0;
        border-bottom: 1px solid $blue;
        outline: none;
      }

      .form-input-description {
        display: inline-block;
        width: 330px;
        padding: 10px;
        position: relative;
        font-family: Roboto, sans-serif;
        min-height: 120px;
        resize: none;
        border: 0;
        outline: 0;
        border-bottom: 1px solid $dark-grey;
        margin-bottom: -12px;
      }

      .error {
        border-bottom: 1px solid red;
      }

      .form-error {
        color: red;
        height: 20px;
        font-size: 10px;
        margin-left: 110px;
      }

      .all-tasks {
        width: 45%;
      }

      .task-dependencies {
        width: 45%;
      }

      .drop-list {
        display: inline-block;
        overflow-y: auto;
        width: 44%;
        height: 80%;
        margin-right: 2%;
        margin-left: 2%;
        border: 1px solid $dark-grey;
        padding-left: 5px;
        background-color: $drop-list-background-color;

        .task-item {
          height: 25px;
          padding-top: 3px;
          padding-bottom: 3px;
          margin-left: 6px;
          padding-left: 6px;
        }
      }

      .is-dragging {
        background-color: $light-blue;
        color: $white;
        padding: 5px 10px;
        border-color: $blue;
      }

      .clone {
        position: relative;
        width: inherit;
        height: inherit;
        padding-left: 15px;
      }

      .add-attachment {
        display: flex;
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
        align-items: center;

        .add-img {
          width: 20px;
          height: 20px;
          margin-top: 4px;
          margin-left: 5px;
          z-index: 1000;
          float: left;
        }

        .form-input-file {
          position: relative;
          overflow: hidden;
          width: 25%;
          height: 30px;
          background-color: $white;
          padding-top: 5px;
          padding-bottom: 5px;
          text-align: center;
          margin-right: 5px;
          margin-left: 5px;
          transition: background-color 500ms ease;
          color: $light-blue;
          font-weight: 700;
          border: 1px solid $blue;
          //cursor: pointer;

          input[type="file"] {
            display: none;
          }

          label {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
          }

          span {
            line-height: 30px;
            margin-left: 10px;
            float: right;
            cursor: pointer;
          }
        }
      }

      .attachments {
        overflow-y: auto;
        width: 450px;
        height: 220px;

        .attachment-item {
          position: relative;
          display: flex;
          width: 75px;
          height: 70px;
          margin: 5px;
          float: left;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: rgba(0, 0, 0, .04);

          a:link {
            text-decoration: none;
          }

          a :hover {
            color: $blue;
          }

          #delete-attachment {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            background-position: 0 0;
            background-size: contain;

            .delete {
              width: 15px;
              height: 15px;
              z-index: 2;
              top: 0;
              right: 17px;
            }
          }

          .file-reference {
            width: 60%;
            height: 60%;
          }

          .attachment-image {
            width: 50px;
            height: 50px;
            position: relative;
            top: -7px;
            right: 3px;
          }

          .attachment-name {
            width: 90px;
            margin: 0 auto;
            text-align: center;
            overflow: hidden;
            position: relative;
            top: -10px;
            left: -20px;
            color: $black;
          }
        }
      }
    }

    .form-bottom {
      display: flex;
      height: 50px;
      padding-right: 20px;
      padding-left: 20px;
      justify-content: flex-end;
      align-items: center;
      background-color: $light-blue;
    }

    .form-button {
      width: 80px;
      margin-right: 5px;
      margin-left: 5px;
      padding: 5px 10px;
      line-height: 20px;
      color: $white;
      border: 1px solid transparent;
      outline: none;
      cursor: pointer;
      background-color: $light-blue;
      transition: background-color 500ms ease;
      font-weight: 700;
      text-transform: uppercase;

      &:hover {
        background-color: $blue;
      }

      &::selection {
        background-color: transparent;
      }
    }
  }

  .show-content {
    display: block;
  }

  .hide-content {
    display: none;
  }
}
