@import "common-styles";

.menu {
  @extend .row-container;
  justify-content: space-between;
  height: $menu-container-height;
  background-color: $light-blue;
  color: $text-white;
}
.menu-button {
    @extend .button-dark;
    margin-left: 20px;
}
.user-name {
  text-transform: capitalize;
}
.logo {
  width: 120px;
  height: 27px;
}
ul {
  flex: 1;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;

  .menu-left {
    flex: 0 0 50%;
    display: flex;
    justify-content: flex-start;
  }

  .menu-right {
    flex: 0 0 50%;
    display: flex;
    justify-content: flex-end;
  }

  li {
    list-style: none;
    display: flex;
    align-items: center;
  }
}