@import "../common-styles";

.menu {
  @extend .row-container;
  justify-content: space-between;
  height: $menu-container-height;
  background-color: $light-blue;
  color: $text-white;
}
.main-menu-button {
    @extend .button-dark;
    margin-left: 20px;

}
.user-name {
  text-transform: capitalize;
}
.logo {
  width: 120px;
  height: 27px;
  float: left;
}