@import "../common-styles";

.main-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: fixed;

  .main-menu-container {
    width: 100%;
    height: $menu-container-height;
  }

  .main-container {
    flex: 1;
  }
}