@import "../basic-popup-view";

.registration-view {
  @extend .basic-popup-view;
  .form-wrapper{
    .tab-container{
      .form-input-text.error{
          border-color: $red;
        }

      .form-input-text.error::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color:    $red;
        }

      .form-input-text.error:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color:    $red;
          opacity:  1;
        }

      .form-input-text.error::-moz-placeholder { /* Mozilla Firefox 19+ */
          color:    $red;
          opacity:  1;
        }

      .form-input-text.error:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color:    $red;
        }

      .form-label.confirm-password-label{
        margin-top: -7px;
      }

      .form-input-text.confirm-password-input{
        vertical-align: middle;
      }
    }

    .register-form-bottom{
      @extend .form-bottom;
    }
  }
}



